@font-face {
    font-family: 'Roboto';
    src: url('Lato-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
