@model LiTor.Web.Components.LanguageMenuViewModel
<style>
    .language-selectors {
        display: flex;
        flex-direction: row;
        gap: 0.5rem
    }

        .language-selectors .language-selector-button {
            border: 1px solid #E9E4D1;
            background: white;
            padding: 0.2rem 1rem;
            border-radius: 5px;
            transition: border 0.3s ease;
        }

            .language-selectors .language-selector-button:hover:not(.active) {
                border: 1px solid #575D90;
            }

            .language-selectors .language-selector-button.active {
                border: 1px solid #575D90;
            }
</style>

<li class="nav-item dropdown">
    <a class="nav-link flag-nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <img class="flag-icon" src="~/theme/plugins/flags/flags/4x3/@Model.CurrentLanguage.IconImageName" />
    </a>
    <div class="dropdown-menu  dropdown-menu-right">
        @foreach (var item in Model.Languages)
        {
            <form asp-action="SetLanguage" asp-controller="Language">
                <button name="culture" value="@item.Code" class="dropdown-item flag-dropdown-item">
                    <img class="flag-icon" src="~/theme/plugins/flags/flags/4x3/@item.IconImageName" />
                    <span>@item.Name</span>
                </button>
            </form>
        }
    </div>
</li>
